{% extends 'base.html' %}

{% block content %}
	<div class="text-center mt-5">
		<h1>Login</h1>
		{% include 'flash_handler.html' %}
		<form action="#" method="post" style="max-width: 350px; margin: auto">
			<div class="form-group">
				<input type="username" class="form-control" aria-describedby="usernameHelp" placeholder="Username" name="username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" name="password">
			</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<button type="submit" class="btn btn-primary">Login</button>
					<button type="submit" class="btn btn-outline-primary" formaction="/register">Register</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
